.vlt

jcr_root/.content.xml
jcr_root/apps/.content.xml
jcr_root/etc/.content.xml
jcr_root/etc/clientlibs/.content.xml
jcr_root/etc/designs/.content.xml
jcr_root/content/.content.xml
jcr_root/content/phonegap/.content.xml
jcr_root/content/projects/.content.xml
jcr_root/content/dam/.content.xml