.snap-drawer {
	background-color: #f5f5f5;
}

.snap-content {
	background-color: #FFF;
}

video {
    width: 100%;
    max-width: 100%;
}

.ng-text p, 
.ionic-inappbrowser-button {
	padding: 0.5em 1em 0 1em;
	margin: 0;
}