.view-animate {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;

    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*
 * Slide from right to left
 */
.transition-left.ng-enter {
    -webkit-animation: 0.2s right-side-animation-enter;
    animation: 0.2s right-side-animation-enter;
}

.transition-left.ng-leave {
    -webkit-animation: 0.2s right-side-animation-leave;
    animation: 0.2s right-side-animation-leave;
}

@keyframes right-side-animation-enter {
    from {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        opacity:.5;
    }
    to {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity:1;
    }
}

@keyframes right-side-animation-leave {
    from {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity:1;
    }
    to {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        opacity:.5;
    }
}

@-webkit-keyframes right-side-animation-enter {
    from {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        opacity:.5;
    }
    to {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity:1;
    }
}

@-webkit-keyframes right-side-animation-leave {
    from {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity:1;
    }
    to {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        opacity:.5;
    }
}

/*
 * Slide from left to right
 */
.transition-right.ng-enter {
    -webkit-animation: 0.2s left-side-animation-enter;
    animation: 0.2s left-side-animation-enter;
}

.transition-right.ng-leave {
    -webkit-animation: 0.2s left-side-animation-leave;
    animation: 0.2s left-side-animation-leave;
}

@keyframes left-side-animation-enter {
    from {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        opacity:.5;
    }
    to {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity:1;
    }
}

@keyframes left-side-animation-leave {
    from {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity:1;
    }
    to {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        opacity:.5;
    }
}
@-webkit-keyframes left-side-animation-enter {
    from {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        opacity:.5;
    }
    to {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity:1;
    }
}

@-webkit-keyframes left-side-animation-leave {
    from {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity:1;
    }
    to {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        opacity:.5;
    }
}